{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}  
<body style="background-color: #0195eb;">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="background-color: steelblue;">
                        <h1 class="text-center"
                            style="display: flex; justify-content: center; color: black;  font-family: Arial, Helvetica, sans-serif; font-weight: bold;">
                            Register</h1>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Daftar</button>
                            </div>
                        </form>
                        <p
                            style="font-size: 14px; background-color: #ffffff; justify-content: center; display: flex; margin-top: 12px;">
                            Already have an account?
                            <a href="{% url 'main:login' %}"
                                style="color: #0195eb; font-size: 14px; background-color: #ffffff; margin-left: 8px;">Login
                                Now</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>


{% endblock content %}